.heroBanner {
  position: relative;
  background: url("https://r3-it.storage.cloud.it/aria-public/website/bg/bg1.jpg")
    center/cover no-repeat;
  min-height: 480px;
  color: #eafbe6;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0;
}

/* Overlay */
.heroBanner::before {
  content: "";
  position: absolute;
  inset: 0; /* per coprire tutta la div .heroBanner */
  background: linear-gradient(
    135deg,
    rgba(33, 138, 50, 0.6),
    rgba(33, 138, 50, 0.15)
  );
  z-index: 1;
}

/* Contenuto deve stare sopra l'overlay */
.heroBanner > div {
  position: relative;
  z-index: 2;
}

.heroTitle {
  font-weight: 900;
  font-size: 3rem;
  color: #ffffff;
}
.heroSubtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #ffffff;
}
.buttons .button {
  margin: 0 0.5rem;
}

.featuresSection {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 4rem 0;
}
.feature {
  background: #f7f7f7;
  border-radius: 1rem;
  padding: 2rem;
  flex: 1 1 300px;
  max-width: 400px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.07);
  text-align: center;
  color: #217a2b;
}
.featureImage {
  max-width: 100px;
  margin-bottom: 1rem;
}

.callToAction {
  background-color: #dbe4c9;
  color: #1b3d2d;
  padding: 3rem 0;
  margin-top: 4rem;
  border-radius: 0.5rem;
}
